


<article class="reply reply--depth-0 js_reply" style="display: block; height: 80px;">
    <ul>
        {% if posts.has_prev %}
        <li>
            <a href="{{ url_for('index', page=posts.prev_num) }}" class="page dark gradient">{{ _('Newer posts')}}</a>
        </li>
        {% endif %} 
        
        {% for page in posts.iter_pages() %}
            {% if page %}
                {% if page != posts.page %}
                    <li>
                        <a class="page dark gradient" href="{{ url_for('index', page=page) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li>
                        <a class="page dark gradient" style="background-color: transparent; "href="{{ url_for('index', page=page) }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {% endfor %}
        
        {% if posts.has_next %}
        <li>
            <a href="{{ url_for('index', page=posts.next_num) }}" class="page dark gradient">{{ _('Older posts') }}</a>
        </li>
        {% endif %}
    </ul>
</article>